<% layout('partials/main') %>

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">History</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <!-- <div class="card-header py-3">
         <h6 class="m-0 font-weight-bold text-primary">Recent Orders</h6>
     </div> -->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID Peminjaman</th>
                            <th>Inventory</th>
                            <th>User</th>
                            <th>Date</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% histories.forEach(item=> { %>
                            <tr>
                                <td>
                                    <%= item.peminjamanId %>
                                </td>
                                <td>
                                    <%= item.inventory.name %>
                                </td>
                                <td>
                                    <%= item.user.profile.name %>
                                </td>
                                <td>
                                    <%= item.startDate.toLocaleDateString() %> - <%= item.endDate.toLocaleDateString()%>
                                </td>
                                <td>
                                    <%= item.status %>
                                </td>
                            </tr>
                            <%}); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>