<% layout('partials/main') %>

  <% if (message.length> 0) { %>
    <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
      <strong>
        <%= message %>
      </strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <% } %>

      <!-- Page Heading -->
      <h1 class="h3 mb-4 text-gray-800">List Inventory</h1>

      <!-- Topbar -->
      <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow rounded">

        <!-- Add Button -->
        <a class="btn btn-dark mr-auto" href="/admin/inventories/create">
          <i class="fas fa-plus-circle mr-1"></i> Add
        </a>

        <!-- Search Form -->
        <form class="form-inline">
          <div class="input-group">
            <input type="text" class="form-control bg-light border-0 small" placeholder="Search..." aria-label="Search"
              aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-dark" type="button">
                <i class="fas fa-search fa-sm"></i>
              </button>
            </div>
          </div>
        </form>

      </nav>
      <!-- End of Topbar -->

      <!-- Page Content -->
      <div class="row">

        <div class="col-lg-12">

          <% inventories.forEach(item=> { %>
            <!-- Card -->
            <div class="card w-100 mb-3">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/upload/inventories/<%= item.images %>" class="card-img" alt="Card Image" height="180px"
                    style="object-fit: cover;">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <a href="/admin/inventories/<%= item.id %>">
                      <h5 class="card-title">
                        <%= item.name %>
                      </h5>
                    </a>
                    <p class="card-text">
                      <%= item.description.substring(0, 90) %>
                    </p>
                    <p
                      class="badge <% if (item.stock == 'inStock') { %>badge-primary<% }else{%>badge-danger<%} %> px-3 py-2 position-relative">
                      <%= item.stock %>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!-- End of Card -->
            <%}); %>

        </div>

      </div>
      <!-- End of Page Content -->